    <div class="awesoon-wrapper">
      <div class="banner">
        <div class="image-box">

        </div>
        <div class="ai-response">
          <span id="aiResponseBox"></span>
        </div>
        <div class="buttons">
          <button class="reject">Reject</button>
          <button class="accept">Accept</button>
        </div>
      </div>
    </div>
